In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
c_data= pd.read_excel("LU_CUSTOMER.xlsx")

In [5]:
c_data.head(2)

,CUSTOMER_ID,CUST_LAST_NAME,CUST_FIRST_NAME,CUST_BIRTHDATE,AGE,EMAIL,ADDRESS,ZIPCODE,INCOME_ID,BRACKET_DESC,CUST_CITY_ID,CUST_CITY_NAME
0,1,Aaronson,Maxwell,1961-07-11,55,maaronson93@aol.demo,9865 Marion Place Apt.,7071,6,61-70K,221,Lindhurst
1,2,Abarca,Hugh,1934-09-17,82,habarca60@hotmail.demo,1660 Park Ave.,53233,3,31-40K,251,Milwaukee

In [6]:
c_data.describe()

       CUSTOMER_ID           AGE       ZIPCODE    INCOME_ID  CUST_CITY_ID
count  10000.00000  10000.000000  10000.000000  10000.00000  10000.000000
mean    5000.50000     59.277300  45200.445400      5.28110    218.506600
std     2886.89568     16.847931  30065.198381      2.41563    125.009486
min        1.00000     29.000000   1236.000000      1.00000      1.000000
25%     2500.75000     45.000000  17801.000000      4.00000    110.000000
50%     5000.50000     59.000000  40160.000000      5.00000    222.000000
75%     7500.25000     75.000000  72616.000000      7.00000    326.000000
max    10000.00000     86.000000  99115.000000     10.00000    436.000000

In [8]:
c_data.shape

(10000, 12)